// colors
$font-color-base: #111;
$bg-color-base: #FFF;
$border-color-base: #f2f2f2;
$color-warning: rgb(250, 246, 19);
$color-danger: rgb(219, 47, 47);
$color-success: rgb(25, 231, 87);
$color-parimary: rgb(6, 193, 240);

//height
$header-height: 80px;
$footer-height: 80px;

//font-size

$font-size-base: 15px;

// padding

$padding-base: 15px;