#container{
    background: $bg;
    min-height: 100vh;
    .header {
        height: 80px;
        background: $white;
       .wrapper{
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            flex:1;
            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              vertical-align: middle
            }
            .slogan{
              color: $fontColor;
            }
        }
        nav{
            flex:1;
            text-align: right;
            a{
                color: $fontColor;
                text-decoration: none;
                font-size: 20px;
                padding: 0 15px;
                &.active{
                    border-bottom: 2px solid $border_active
                }
            }
        }
       }
    }
    .outer{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        min-height: calc(100vh - 160px);
    }
    .footer {
        height: 80px;
        color: $fontColor;
        display: flex;
        text-align: center;
        align-items: center;
        .author{
         flex:1;
        }
        .link{
            flex:1;
            a {
                color: $fontColor;
                text-decoration: none;
            }
        }
    }
}