<html>
<title><%-config.title%></title>
<head>
<meta charset="utf-8">
 <% if (theme.style){ %>
    <%- css(theme.style) %>
  <% } %>
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>