<div id="site_search">
   <div class="form-group">
    <input type="text" id="local-search-input" autocomplete="off"
    name="q" results="0" placeholder="<%= __('Search') %>" 
    class="search-input"/>
   </div>  
  <div id="local-search-result" class="search-content" style="display:none">
  </div>
  </div>