:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
  font-size: 15px;
  font-family: var(--font-family-monospace);
}
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $link-color;
}

p {
  margin: 0;
  color: $font-color;
}

ul {
  margin: 0;
  padding-inline-start: 20px;

  li {
    list-style: none;
  }
}

img {
  width: 100%;
  height: 100%
  vertical-align: middle;
}

blockquote {
  margin: $base-padding 0;
  border-left: 3px solid darksalmon;

  p {
    color: darken($font-color, 50%);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sticked {
  background: #ff652f;
  border-radius: 4px;
  padding: 2px 4px;
  color: #FFF;
}

// flex layout
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.space-between{
  display: flex;
  justify-content: space-between
}

// font
.h4 {
  font-size: 16px;
  font-weight: bold;
  margin: $base-padding*0.5 0;
}

.h2-bold {
  font-size: 30px;
  font-weight: bold;
  margin: $base-padding 0;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.h4-bold {
  font-size: 1rem;
  font-weight: 700;
  margin: $base-padding 0;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.1;
  
}
.h4-bold + .h2-bold {
 margin-top: 0; 
}
.text{
      font-weight: 400;
    color: #777;
    font-size: 0.95em;
    }
.small{
      font-weight: 400;
    color: #999;
    text-transform: capitalize;
   .gutter{
      &:after{
      content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;}
    }
    } 
.text-white {
  color: #FFF;
}
.text-dark{
  color:#333;
  font-weight: 700;
  }

.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}

.link {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}

.container, .container-fluid {
  container();
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    grid();
    &.reverse{
    flex-direction: row-reverse;
    }
  }
}
.container-fluid{
  max-width: initial;
}

.mix {
    padding: 0;
    max-height: 200px;
    overflow: hidden;
}
.pd-15 {
  padding: 15px;
}
.pdv-15{
 padding: 15px 0;
}
.pdh-15{
 padding:0 15px;
}
.pdh-5{
 padding:0 5px;
}
.form-group{
 position: relative;
 margin-bottom: 1rem;
}