container() {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $sm) {
        max-width: 540px;
    }
    @media (min-width: $md) {
        max-width: 720px;
    }
    @media (min-width: $lg) {
        max-width: 960px;
    }

    
     @media (min-width: $xl) {
        max-width: 1140px;
    }


    
}

grid() {
    display: flex;
    flex-wrap: wrap;
}

cell($size, $colum) {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    if ($size == 'lg') {
        @media (min-width: $lg) {
            flex: 0 0 'calc(100% * %s)' % ($colum / $columns);
            max-width: 'calc(100% * %s)' % ($colum / $columns);
        }
    }
}

/*
 * grid system
 */
screens = xl lg md sm xl;
cols = 1 2 3 4 5 6 7 8 9 10 11 12;

class-generator() {
    for screen in screens {
        for row in cols {
            .col-{screen}-{row} {
                cell(screen, row);
            }
        }
    }
}

class-generator();

bg($url) {
    background: url($url) no-repeat;
    background-size: cover;
    background-position: center center;
}
