
$white = #FFF;
$nprogressColor = #FF652F;
$base-color = #fff;
$bg-color = #f7f7f7;
$font-color = #333;
$link-color = #777;
$tag-color = #FF652F;
$category-color = #14A76C;
$comment-color = green;
$bg-code = #333;
$link-hover-color = #FF652F;
$border-color = #f2f2f2;
$border-radius = 5px;
$base-padding = 15px;
$head-height = 60px;
$title-font-size = 1.5em;
$columns= 12;
// Responsive media queries breakpoints
$xl = 1200px; // Extra large devices (large desktops, 1200px and up)
$lg = 992px;  // Large devices (desktops, 992px and up)
$md = 768px;  // Medium devices (tablets, 768px and up)
$sm = 576px;  // Small devices (landscape phones, 576px and up)
 //Extra small devices (portrait phones, less than 576px)

