/*
* palete
*/

// colors sachme
$base-color = #fff
$bg-color = #f2f2f2
$font-color = #333
$link-color = #777
$tag-color = #FF652F
$category-color = #14A76C
$comment-color = green
$bg-code = #333
$link-color-hover =  #FF652F
$border-color = #f2f2f2
$border-radius = 5px

// gaps
$base-padding = 15px
$head-height = 60px